
<nav class="navbar navbar-expand-sm navbar-dark topnav">
  <div class="container-fluid ">
    <a class="navbar-brand">Employee Management System</a>
    
    <!-- <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
      



    </form> -->



    <div class="topnav-right">
      <a routerLink="" class="nav-link" routerLinkActive="active">Home</a>
      <a routerLink="" class="nav-link" routerLinkActive="active">About</a>
      <a routerLink="" class="nav-link" routerLinkActive="active">Contact Us</a>
      <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
    </div>

    
  </div>
</nav>

<!-- <div class="container">
  <br>
  <h2 style="text-align: center;">Employee Mgt sys</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<body>
  <div style="height: 80%; width: 100%;">
    <router-outlet>
    
    </router-outlet>
  </div>
  
</body>



  <!-- Footer -->
  <footer class="text-center text-lg-start "  class="footer-div ">
 
  
    <!-- Section: Links  -->
    <section style="background-color: rgb(142, 199, 238);">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
           
            <br>
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-gem"></i>Employee Management System
            </h6>
            <p>
              Complete management of Employees in one Place!
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <br>
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fa fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fa fa-envelope me-3"></i>
              info@emp.com
            </p>
            <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <br>
      <a style="text-align: center;" href="">employeemanagementsystem.com</a>
      <br>
      <div>
        Developed and maintained by : <i>Nivin</i>
      </div>
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
